// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~font-awesome/scss/font-awesome';

// Chosen
@import '~chosen-js/chosen';

.chosen-container
{
  width: 100% !important;
}
.grecaptcha-badge {
  margin-bottom: 20px;
  //display: none;
}
.form-control{
  &.less-significant{
    flex: none;
    display: inline-block;
    width: auto;
  }
}
